<div id="<%= dom_id job_seeker %>">
<p>
<%= image_tag job_seeker.profile_image ,height: "100",width: "100" %>
<% if @job_seeker.profile_image.attached? %>
<img src="data:image/png;base64,<%= @qr_job_seeker_image %>" alt="Job Seeker QR Code" width="100" height="100">
<% else %>
  <p>No image available</p>
<% end %>

</p>

  <p>
    <strong>Full name:</strong>
    <%= job_seeker.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= job_seeker.email %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= job_seeker.date_of_birth %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= job_seeker.mobile %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= job_seeker.address %>
  </p>

</div>
